@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the dark mode transition is smooth */
.transition-colors {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

/* Force height for the app */
html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Remove any background-color from body */
body {
    margin: 0;
    padding: 0;
    /* Add this */
    @apply bg-white dark:bg-[#020617];
}